// Importar fuentes
//*********************************************************
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Work+Sans:100,200,300,400,500,600,700,800,900');

//Variables de Fuente
//*********************************************************
$font1: 'Lato',
sans-serif;
$font2: 'Work Sans',
sans-serif;
$fontSize: 16px;


//Variables de color
//*********************************************************
$colorTittle1: rgb(96, 121, 177);

$textColor1: rgb(255, 255, 255);
$textColor2: rgb(0, 68, 129);
$textColor3: rgb(0, 182, 249);
$textColor4: rgb(0, 40, 86);
$textColor5: rgb(185, 188, 189);
$textColor6: rgb(32, 32, 32);
$textColor7: rgb(25, 44, 85);
$textColor8: rgb(19, 33, 72);

$headerBckColor: rgb(15, 84, 149);
$colorBckTittle: rgb(60, 83, 149);
$btnBckcolor: rgb(0, 40, 86);
$mainHr: rgb(0, 27, 72);
$colorBtnModal1: rgb(93, 129, 191);
$colorBtnModal2: rgb(0, 182, 249);
$colorBtnModal3: rgb(126, 188, 188);
$colorHoverText: rgb(229, 145, 47);
$colorBgBtn: rgb(215, 236, 241);

$colorTab: rgb(170, 191, 227);
$colorActiveTab: rgb(170, 191, 227);

$headerHr: rgba(255, 255, 255, 0.39);


//Variable Media query para mobiles y tabletas
//*********************************************************
$laptopL: "only screen and (min-width: 1367px)";
$tablet: "only screen and (max-width: 768px)";
$mobile: "only screen and (max-width: 425px)";


//Mixin Media query para mobiles y tabletas.
//*********************************************************
@mixin laptopL {
    @media #{$laptopL} {
        @content
    }
}

@mixin tablet {
    @media #{$tablet} {
        @content
    }
}

@mixin mobiles {
    @media #{$mobile} {
        @content
    }
}

// Estilo de estructura
//*********************************************************
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: $font1 !important;
}

.containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url('../img/headerFondo.svg');
    background-position: top center;
    background-size: 115%;
    padding: 1vh 10vw;
    height: 12vh;
    color: $textColor1;
    font-family: $font2;
    display: flex !important;
    justify-content: space-between;

    .titles {
        display: block;
        font-size: 1.1vw;

        h1,
        h3,
        h5 {
            margin: 5px 0;
        }

        h3 {
            font-size: 100%;
            font-weight: 400;
        }

        h5 {
            font-size: 100%;
            font-weight: 300;
        }

        h1 {
            font-size: 114%;
            font-weight: 600;
        }

        hr {
            margin: 0px;
            width: 100%;
            border-top: 2px solid $headerHr;
        }
    }

    .icon-home {
        display: block;
        margin: auto 0;
        color: $textColor1;
        cursor: pointer;

        .material-icons{
            font-size: 2vw;
        }
    }
}

main {
    flex: 1 0 auto;
    background-image: url(../img/fondo.jpg);
    background-size: 100% 100%;
    font-size: 1.1vw;

    >hr {
        margin: 5px 0px;
        width: 100%;
        border-top: 2px solid $mainHr;
    }

    .contenedor {
        margin: 0 10vw;
        font-size: 1.1vw;
    }
}

footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $mainHr;
    max-height: 10vh;
    height: 10vh;
    font-weight: 400;
    font-family: $font2;
    font-size: 1.1vw;
    color: $textColor4;
}

button,
a,
img,
.txtModal-2-2-2 p {
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    img {
        animation-duration: 3s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }
}

// Estilo de contenidos
//*********************************************************

// Home
//*********************************************************
.img-vitales {
    width: 79vw;
    margin: 0 auto;
    display: block;
}

.nube {
    position: absolute;
    display: block;
    z-index: 2;
    top: 26vh;
    left: 12vw;
    width: 35vw !important;
    max-height: 40vh;
    overflow: auto;

    .titles {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;

        h2 {
            line-height: 0;
            margin: 3vh 0.5vw 0 0;
            top: 1.5vh;
            position: relative;
            color: $colorTittle1;
            font-family: $font2;
            font-weight: 500;
            font-size: 450%;
        }

        h3 {
            font-size: 100%;
            width: 100%;
            margin: 1vh 0 2vh;
            background-color: $colorBckTittle;
            color: $textColor1;
            padding: 5px;
            -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
            font-family: $font1;
            font-weight: 700;
        }
    }

    p {
        margin-left: 4.5vw;
        margin-top: 0;
        margin-bottom: 2vh;
        color: $textColor2;
        font-family: $font2;
    }
}

.nube2 {
    position: absolute;
    top: 30vh;
    left: 35vw;
    z-index: 2;
    max-height: 40vh;
    width: 32vw!important;
    overflow: auto;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 150%;
            width: 50%;
            margin: 5px 0 15px 0;
            background-color: $colorBckTittle;
            color: $textColor1;
            padding: 5px;
            -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 5% 100%);
            clip-path: polygon(0 0, 100% 0%, 95% 100%, 5% 100%);
            font-family: $font1;
            font-weight: 700;
            text-align: center;
        }
    }

    p {
        margin-top: .9rem;
        margin-bottom: 0;
        color: $textColor2;
        font-family: $font2;
        text-align: center;
    }
}

.btn-audio {
    position: relative;
    top: 0;
    left: 7vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $textColor2 !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 150%;
    font-family: $font2;
    text-decoration: none;
    width: 10vw;
    text-align: center;
    padding: 0 1vw;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    img {
        width: 30px;
        height: auto;
        margin-right: 5px;
    }

    &:hover {
        color: $textColor1 !important;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
}

.btn-primary {
    position: relative;
    text-decoration: none;
    padding: 5px 55px !important;
    font-size: 120% !important;
    background-color: $btnBckcolor !important;
    color: $textColor3 !important;
    border-radius: 15px !important;
    font-family: $font1;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0) !important;
    outline-color: rgba(255, 255, 255, .5) !important;
    outline-offset: 0px !important;
    text-shadow: none !important;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) !important;

    &:hover {
        color: $textColor1 !important;
        border: 1px solid !important;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2) !important;
        outline-color: rgba(255, 255, 255, 0) !important;
        outline-offset: 15px !important;
        text-shadow: 1px 1px 2px #427388 !important;
    }
}

.btn-home {
    top: -6vh;
    right: 6vw;
    float: right;
    font-style: italic;
}

// Contents (Pagina 2)
//*********************************************************
.img-vitales-content {
    display: block;
    height: auto;
    width: 69vw;
    margin: 0 auto;
}

.btn-modal1 {
    position: absolute !important;
    top: 16vh;
    left: 44vw;
    width: 15vw;
    max-width: 15vw;
    height: 30vh;
    max-height: 30vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 10px solid rgba(0, 112, 187, 0.5);
    background-color: rgba(0, 26, 72, 0.85);
    color: $textColor1;
    cursor: pointer;
    font-size: 1.1vw;
    font-family: $font2;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.2;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    span {
        font-weight: 600;
        font-size: 65px;
    }

    &:focus,
    &:hover {
        border-color: rgba(0, 26, 72, 0.85);
        background-color: rgba(0, 112, 187, 0.5);
        color: $textColor1 !important;
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
}

.btn-modal2 {
    position: absolute !important;
    top: 59vh;
    left: 33vw;
    width: 15vw;
    max-width: 15vw;
    height: 30vh;
    max-height: 30vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 10px solid rgba(0, 112, 187, 0.8);
    background-color: rgba(0, 146, 244, 0.95);
    color: white;
    cursor: pointer;
    font-size: 1.1vw;
    font-family: $font2;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    span {
        font-weight: 600;
        font-size: 65px;
    }

    &:focus,
    &:hover {
        border-color: rgba(0, 146, 244, 0.95);
        background-color: rgba(0, 112, 187, 0.8);
        color: $textColor1 !important;
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
}

.btn-modal3 {
    position: absolute !important;
    top: 59vh;
    left: 56vw;
    width: 15vw;
    max-width: 15vw;
    height: 30vh;
    max-height: 30vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 10px solid rgba(0, 146, 244, 0.8);
    background-color: rgba(0, 112, 187, 0.95);
    color: white;
    cursor: pointer;
    font-size: 1.1vw;
    font-family: $font2;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 1.2;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    span {
        font-weight: 600;
        font-size: 65px;
    }

    &:focus,
    &:hover {
        padding: 10px;
        border-color: rgba(0, 112, 187, 0.95);
        background-color: rgba(0, 146, 244, 0.8);
        color: $textColor1 !important;
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
}


.mdl-2-1-1 {
    position: relative;
}

.mdl-2-1-1 .bgTitle {
    width: 50vw;
    position: absolute;
    top: 2vh;
}

.mdl-2-1-1 .etiquetaLarga {
    position: absolute;
    color: white;
    top: 4vh;
    left: 11vw;
    font-size: 1.7vw;
    margin: 0 !important;
    z-index: 1;
}

.mdl-2-1-1 .modal2-1-1-menu {
    width: 100vw;
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    position: absolute
}

.mdl-2-1-1 .modal2-1-1-menu div:nth-child(1) .item {
    background: transparent !important;
    color: white;
    position: absolute;
    left: 19.1vw;
    top: 14vh;
}

.mdl-2-1-1 .modal2-1-1-menu div:nth-child(2) .item {
    background: transparent !important;
    color: white;
    position: absolute;
    left: 26.7vw;
    bottom: 8vh;
}

.mdl-2-1-1 .modal2-1-1-menu div:nth-child(3) .item {
    background: transparent !important;
    color: white;
    position: absolute;
    left: 31.3vw;
    top: 19vh;
}

.mdl-2-1-1 .modal2-1-1-menu div:nth-child(4) .item {
    background: transparent !important;
    color: white;
    position: absolute;
    right: 30.3vw;
    top: 19vh;
}

.mdl-2-1-1 .modal2-1-1-menu div:nth-child(5) .item {
    background: transparent !important;
    color: white;
    position: absolute;
    right: 25.5vw;
    bottom: 8vh;
}

.mdl-2-1-1 .modal2-1-1-menu div:nth-child(6) .item {
    background: transparent !important;
    color: white;
    position: absolute;
    right: 19vw;
    top: 14vh;
}

.mdl-2-1-1 .modal2-1-1-menu div .item {
    font-weight: 400;
    width: 9vw;
    height: 23vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mdl-2-1-1 .modal2-1-1-menu div .item img {
    width: 10vw;
    height: auto;
    display: block;
    position: absolute
}

.mdl-2-1-1 .modal2-1-1-menu div .item span {
    position: absolute;
    font-size: 1.1vw;
    line-height: 1.4;
}

#bgPage {
    background: url('../img/Recurso_2.png') no-repeat;
    background-size: 53%;
    position: absolute;
    width: 100vw;
    height: 40vh;
    top: 25vh;
    background-position-x: 50%;
}

.modal {
    border-radius: 0 !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 62% !important;
    max-height: 62% !important;
    width: 65% !important;
    overflow: hidden !important;
    margin-top: 5% !important;

    &.mdl-1 {
        background-image: url("../img/bck-modal1.jpg");
    }

    &.mdl-1-1 {
        background-image: url("../img/bck-modal1-1.jpg");
    }

    &.mdl-1-2 {
        background-image: url("../img/bck-modal1-2.jpg");
    }

    &.mdl-1-3 {
        background-image: url("../img/bck-modal1-3.jpg");
    }

    &.mdl-2 {
        background-image: url("../img/bck-modal2.jpg");
    }

    &.mdl-2-1 {
        background-image: url("../img/bck-modal2-1.jpg");
    }

    &.mdl-2-1-1 {
        background-image: url("../img/bck-modal2-1-1.jpg");
    }

    &.mdl-2-1-1-1 {
        background-image: url("../img/bck-modal2-1-1-1.jpg");
    }

    &.mdl-2-1-1-2 {
        background-image: url("../img/bck-modal2-1-1-2.jpg");
    }

    &.mdl-2-1-1-3 {
        background-image: url("../img/bck-modal2-1-1-3.jpg");
    }

    &.mdl-2-1-1-4 {
        background-image: url("../img/bck-modal2-1-1-4.jpg");
    }

    &.mdl-2-1-1-5 {
        background-image: url("../img/bck-modal2-1-1-5.jpg");
    }

    &.mdl-2-1-1-6 {
        background-image: url("../img/bck-modal2-1-1-6.jpg");
    }

    &.mdl-2-2-1 {
        background-image: url("../img/bck-modal2-2-1.jpg");
    }

    &.mdl-2-2-2 {
        background-image: url("../img/bck-modal2-2-2.jpg");
    }

    &.mdl-2-3 {
        background-image: url("../img/bck-modal2-3.jpg");
        background-size: 100% 100%;
    }

    &.mdl-3 {
        background-image: url("../img/bck-modal3.jpg");
    }

    &.mdl-3-1 {
        background-image: url("../img/bck-modal3-1.jpg");
        background-size: cover;
    }

    &.mdl-3-2 {
        background-image: url("../img/bck-modal3-2.jpg");
        background-size: 100% 100%;
    }

    .centered {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 105%;
    }

    .etiqueta {
        position: absolute;
        top: 2vh;
        left: 15vw;
        color: $textColor1;
        font-size: 180%;
        font-weight: 800;
        margin: 0;
    }

    .etiquetaLarga {
        position: absolute;
        color: $textColor1;
        top: 2vh;
        left: 10vw;
        font-size: 160%;
    }

    .etiquetaXL {
        position: absolute;
        width: 35vw;
        top: 2.5vh;
        left: 6vw;
        font-size: 125%;
        color: $textColor1;
    }

    .menuTabs {
        position: absolute;
        top: 10vh;
        left: 31vw;
        height: 50vh;
        width: 32vw;
        padding: 0 1vw;
        display: grid;

        .texto {
            margin: 2vh 0 0 0;
            height: 27vh;
            white-space: normal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            strong {
                color: $textColor4;
                font-weight: 900;
            }

            .ico-funcion {
                width: 5vw;
                height: auto;
                display: block;
                margin: 1vh auto;
            }

            #intro {
                p {
                    font-family: $font2;
                    color: $textColor4;
                    font-weight: 500;
                    font-size: 120%;
                }
            }
        }

        .menu {
            margin: 7vh 0 0!important;
            height: 15vh;
            border: 1px dotted $btnBckcolor;
            border-radius: 15px;
            display: flex;
            margin: 0;
            width: 100%;


            .tabs {
                height: 13vh;
                background: transparent;
                display: flex;
                border-radius: 14px;
                overflow: hidden;
                margin-top: 1vh;
                justify-content: space-around;

                .tab {
                    height: 100%;
                    flex: 1 0 auto;
                    background-size: 100% 100%;
                    max-width: 10vw !important;
                    width: 10vw;

                    &:nth-child(1) {
                        background-image: url("../img/bck-btn1-modal1.png");
                    }

                    &:nth-child(2) {
                        background-image: url("../img/bck-btn2-modal1.png");
                    }

                    &:nth-child(3) {
                        background-image: url("../img/bck-btn3-modal1.png");
                    }

                    a {
                        &.active {
                            background: transparent !important;
                        }
                    }
                }

                .indicator {
                    background-color: $textColor1 !important;
                }
            }

            span {
                position: absolute;
                margin: 0 auto;
                display: block;
                font-size: 1.1vw;
                font-weight: 800;
                color: $textColor2;
                line-height: 1;
                z-index: 1;
                margin-top: -3vh;

                &:nth-child(1) {
                    left: 8vw;
                }

                &:nth-child(2) {
                    left: 22.5vw;
                }
            }


            .img-btn {
                display: block;
                margin: 2vh auto;
                height: 4vw;
                width: auto;
                border-radius: 50%;
                box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
                outline-color: rgba(15, 58, 250, 0.5);
                outline-offset: 0px;
                text-shadow: none;
                transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

                &:hover {
                    color: $textColor1 !important;
                    box-shadow: inset 0 0 20px rgba(15, 58, 250, 0.5), 0 0 20px rgba(255, 255, 255, .2);
                    outline-color: rgba(255, 255, 255, 0);
                    outline-offset: 15px;
                    text-shadow: 1px 1px 2px #427388;
                }
            }

            button,
            img {
                height: 80px;
                width: auto;
                margin: 7px auto 0;
                padding: 0;
                border: none;
                background: transparent;
                cursor: pointer;
            }

        }
    }
}

.modal-overlay {
    background: $textColor1 !important;
    opacity: 0.9 !important;
}

.modal-next {
    position: absolute;
    right: 15px;
    height: 50px;
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 2;
}

.modal-prev {
    position: absolute;
    left: 15px;
    height: 50px;
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 3;
}

.ico-close {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 15px;
    right: 15px;
    z-index: 1000;

    img {
        width: 100%;
        height: 100%;
    }
}

.btn-custom-modal {
    position: absolute !important;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px !important;
    text-transform: none !important;
    font-size: 120% !important;
    background-color: $btnBckcolor !important;
    color: $textColor3 !important;
    border-radius: 10px !important;
    border: none;
    font-style: italic;
    font-family: $font1;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        color: $textColor1 !important;
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
}

.btn-modal-1-1 {
    bottom: 4vh;
    right: 4vw;
    float: right;
    padding-left: 2vw!important;
    padding-right: 2vw!important;
}

.btn-modal-1-2 {
    bottom: 5vh;
    right: 1vw;
    float: right;
    padding-left: 2vw!important;
}

.btn-modal-2-1 {
    bottom: 12vh;
    left: 24vw;
    float: left;
    padding: 1vh 4vw!important;
}

.modal1-1_P0 {
    position: absolute;
    margin: 0;
    width: 30vw;
    height: 35vh;
    top: 16vh;
    left: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid $textColor4;
    border-bottom: 1px solid $textColor4;
}

.modal1-2_P1 {
    position: absolute;
    width: 30vw;
    top: 12vh;
    left: 7vw;
}

.img-mdl1-2 {
    position: absolute;
    bottom: 5vh;
    left: 5.6vw;
    width: 32.5vw;
    border-radius: 15px;
    padding: 2vh 1vw;
    background: $textColor4;

    img {
        display: block;
        margin: 0 auto;
    }
}

.modal1-3_P0 {
    width: 35vw;
    left: 4vw;
    position: absolute;
    top: 1vh;
    font-weight: 600 !important;
    font-size: 100%;
    color: $textColor4;

    strong {
        font-weight: 900;
    }

    a {
        color: $textColor4;

        &:hover {
            border-bottom: 1px solid $textColor4;
        }
    }
}

.modal1-3_P1 {
    position: absolute;
    bottom: 6.5vh;
    left: 8vw;
    width: 18vw;
    font-size: 100% !important;
    color: white;
    text-align: center;
    word-break: break-word;

    a {
        color: $textColor4;

        &:hover {
            border-bottom: 1px solid $textColor4;
        }
    }
}

.modal1-3_P2 {
    position: absolute;
    bottom: 6.5vh;
    left: 39vw;
    width: 17vw;
    font-size: 100%;
    color: white;
    text-align: center;
    word-break: break-word;
}

.modal2_P0 {
    position: absolute;
    width: 25vw;
    top: 13vh;
    left: 19vw;
    font-family: $font2;
    color: $textColor4;
    font-weight: 500;
    font-size: 100%;
}

.modal2-menu {
    position: absolute;
    right: 1vw; 
    width: 45vw;
    height: 32vh;
    bottom: 2vh;
    font-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    div {
        border: 1px dashed $textColor5;
        padding: 4px;
        border-radius: 15px;

        &:nth-child(1) {
            .item {
                background-color: $colorBtnModal1;
                color: $textColor1;
            }
        }

        &:nth-child(2) {
            .item {
                background-color: $colorBtnModal2;
            }
        }

        &:nth-child(3) {
            .item {
                background-color: $colorBtnModal3;
            }
        }

        .item {
            min-width: 12vw;
            max-width: 12vw;
            height: 100%;
            padding: 15px 10px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            color: $mainHr;
            text-align: center;
            font-weight: 400;

            img {
                width: 6vw;
                height: auto;
                display: block;
                margin: 2vh auto;
            }

            &:hover {
                color: $textColor1 !important;
                background-color: rgba(10, 116, 255, 0.548);
                border: 1px solid rgba(0, 0, 0, 0.301);
                outline-color: rgba(255, 255, 255, 0);
                outline-offset: 15px;
            }

        }
    }
}

.modal2-1_P0 {
    position: absolute;
    width: 25vw;
    top: 19vh;
    left: 7vw;
    font-family: $font2;
    font-weight: 500;
    font-size: 100%;
}

.modal2-1-1-menu {
    position: absolute;
    width: 100vw;
    height: 80vh;
    display: flex;
    z-index: -1;

    div {

        &:nth-child(1) {
            .item {
                background-color: $colorBtnModal1;
                color: $textColor1;
                position: absolute;
                left: 19.1vw;
                top: 14vh;
            }
        }

        &:nth-child(2) {
            .item {
                background-color: $colorBtnModal2;
                color: $textColor1;
                position: absolute;
                left: 26.7vw;
                bottom: 8vh;
            }
        }

        &:nth-child(3) {
            .item {
                background-color: $colorBtnModal3;
                color: $textColor1;
                position: absolute;
                left: 31.3vw;
                top: 19vh;
            }
        }

        &:nth-child(4) {
            .item {
                background-color: $colorBtnModal3;
                color: $textColor1;
                position: absolute;
                right: 30.3vw;
                top: 19vh;
            }
        }

        &:nth-child(5) {
            .item {
                background-color: $colorBtnModal3;
                color: $textColor1;
                position: absolute;
                right: 25.5vw;
                bottom: 8vh;
            }
        }

        &:nth-child(6) {
            .item {
                background-color: $colorBtnModal3;
                color: $textColor1;
                position: absolute;
                right: 19vw;
                top: 14vh;
            }
        }

        .item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $mainHr;
            text-align: center;
            font-weight: 400;
            width: 9vw;
            height: 23vh;

            img {
                width: 10vw;
                height: auto;
                display: block;
                position: absolute;
            }

            span {
                position: absolute;
                font-size: 1.1vw;
                line-height: 1.4;
            }

            &:hover {
                color: $textColor1 !important;
                background-color: rgba(10, 116, 255, 0.548);
                border: 1px solid rgba(0, 0, 0, 0.301);
                outline-color: rgba(255, 255, 255, 0);
                outline-offset: 15px;
            }

        }
    }
}

.modal2-1-1-1_P0 {
    position: absolute;
    width: 31vw;
    height: 21vh;
    top: 14vh;
    left: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $textColor1;
    line-height: 1.1;
    font-size: 1.05vw;

    & strong {
        font-weight: 800;
    }
}

.modal2-1-1-1_P1 {
    position: absolute;
    margin: 10px 10px;
    width: 31vw;
    height: 21vh;
    bottom: 4vh;
    left: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $textColor1;
    line-height: 1.3;
    font-size: 1.05vw;

    & strong {
        font-weight: 800;
    }
}

.modal2-1-1-2_P0 {
    position: absolute;
    width: 19vw;
    height: 19vh;
    bottom: 4vh;
    left: 3vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $textColor4;
    line-height: 1.4;

    & span {
        font-size: 1.5vw;
        font-weight: 800;
        margin-bottom: 20px;
        display: inline-block;
    }
}

.modal2-1-1-2_P1 {
    position: absolute;
    width: 18vw;
    height: 23vh;
    bottom: 2vh;
    left: 27vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $textColor4;
    line-height: 1.2;
    font-size: 1.05vw;

    & span {
        font-size: 1.5vw;
        font-weight: 800;
        margin-bottom: 20px;
        display: inline-block;
    }
}

.modal2-1-1-3_P0 {
    position: relative;
    width: 18vw;
    height: auto;
    top: 8.5vh;
    left: 18vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $textColor1;
    line-height: 1.1;
    animation-duration: 2s;
    animation-name: fadeIn;
    opacity: 0;
    animation-fill-mode: forwards;

    & strong {
        font-weight: 800;
        display: inline-block;
    }

    & img {
        position: absolute;
        max-width: 34vw;
        z-index: 1;
    }

    & p {
        position: absolute;
        z-index: 2;
        padding: 2.5vh;
        width: 29vw;
        margin-left: 10vh;
        line-height: 1.2;
        font-size: 1.1vw;
    }
}

.modal2-1-1-3_P1 {
    position: relative;
    width: 35vw;
    height: 16vh;
    top: 24vh;
    left: 23vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $textColor1;
    line-height: 1.1;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: fadeIn;
    opacity: 0;
    animation-fill-mode: forwards;

    & strong {
        font-weight: 800;
        display: inline-block;
    }

    & img {
        position: absolute;
        max-width: 34.5vw;
        z-index: 1;
    }

    & p {
        position: absolute;
        z-index: 2;
        padding: 2.5vh;
        width: 29vw;
        margin-left: 10vh;
        line-height: 1.2;
        font-size: 1.1vw;
    }
}

.modal2-1-1-3_P2 {
    position: relative;
    width: 35vw;
    height: 16vh;
    top: 25vh;
    left: 19vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $textColor1;
    line-height: 1.1;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-name: fadeIn;
    opacity: 0;

    animation-fill-mode: forwards;

    & strong {
        font-weight: 800;
        display: inline-block;
    }

    & img {
        position: absolute;
        max-width: 34.5vw;
        z-index: 1;
    }

    & p {
        position: absolute;
        z-index: 2;
        padding: 2.5vh;
        width: 29vw;
        margin-left: 10vh;
        line-height: 1.2;
        font-size: 1.1vw;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal2-1-1-4_P0 {
    top: 17vh;
    left: 3.6vw;
    position: absolute;
    font-size: 0.9vw;
    background: $colorBtnModal3;
    height: 3vh;
    width: 12.8vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $colorHoverText;
    }
}

.modal2-1-1-4_P1 {
    top: 22vh;
    left: 3.7vw;
    position: absolute;
    font-size: 0.9vw;
    background: $colorBtnModal3;
    height: 3vh;
    width: 6.1vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $colorHoverText;

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P1 {
            display: table;
        }
    }
}

.modal2-1-1-4_P2 {
    top: 22vh;
    left: 10.2vw;
    position: absolute;
    font-size: 0.9vw;
    background: $colorBtnModal3;
    height: 3vh;
    width: 6.2vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $colorHoverText;

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P2 {
            display: table;
        }
    }
}

.modal2-1-1-4_P3 {
    top: 27vh;
    left: 10.2vw;
    position: absolute;
    font-size: 0.9vw;
    background: $colorBtnModal3;
    height: 3vh;
    width: 12.8vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $colorHoverText;

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P3 {
            display: table;
        }
    }
}

.modal2-1-1-4_P4 {
    top: 32vh;
    left: 16.8vw;
    position: absolute;
    font-size: 0.9vw;
    background: $colorBtnModal3;
    height: 3vh;
    width: 12.8vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $colorHoverText;

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P4 {
            display: table;
        }
    }
}

.modal2-1-1-4_P5 {
    top: 38vh;
    left: 16.8vw;
    position: absolute;
    font-size: 0.8vw;
    background: $colorBtnModal3;
    height: 3vh;
    width: 6.2vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $colorHoverText;

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P5 {
            display: table;
        }
    }
}

.modal2-1-1-4_P6 {
    top: 38vh;
    left: 23.3vw;
    position: absolute;
    font-size: 0.8vw;
    background: $colorBtnModal3;
    height: 3vh;
    width: 6.2vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $colorHoverText;

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P6 {
            display: table;
        }
    }
}

.modal2-1-1-4_P7 {
    top: 43vh;
    left: 16.8vw;
    position: absolute;
    font-size: 0.9vw;
    background: $colorBgBtn;
    height: 25px;
    width: 19.4vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $colorHoverText;

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-4 #modal2-1-1-4_P7 {
            display: table;
        }
    }
}

.textos_mdl2-1-1-4 {
    display: flex;
    width: 40vh;
    position: absolute;
    top: 13vh;
    right: 3vw;
    height: 42vh;
    align-items: center;
    padding: 2vw;
    text-align: center;
    font-size: 1.2vw;

    & strong {
        font-weight: 700;
    }

    & #modal2-1-1-4_P1,
    #modal2-1-1-4_P2,
    #modal2-1-1-4_P3,
    #modal2-1-1-4_P4,
    #modal2-1-1-4_P5,
    #modal2-1-1-4_P5,
    #modal2-1-1-4_P6,
    #modal2-1-1-4_P7 {
        display: none;
    }
}

.modal2-1-1-5_P0 {
    position: absolute;
    color: $textColor6;
    background: $colorBtnModal3;
    top: 19vh;
    left: 9.1vw;
    height: 4.6vh;
    width: 16.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1vw;
    margin-bottom: 25px;

    &:hover {
        color: $textColor1;
        background: $colorHoverText;
    }
}

.modal2-1-1-5_P1 {
    position: absolute;
    color: $textColor6;
    background: $colorBtnModal3;
    top: 19vh;
    left: 26.1vw;
    height: 4.6vh;
    width: 15.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1vw;

    &:hover {
        color: $textColor1;
        background: $colorHoverText;

        &~.textos_mdl2-1-1-5 #modal2-1-1-5_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-5 #modal2-1-1-5_P1 {
            display: table;
        }
    }
}

.modal2-1-1-5_P2 {
    position: absolute;
    color: $textColor6;
    background: $colorBtnModal3;
    top: 19vh;
    left: 41.6vw;
    height: 4.6vh;
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1vw;

    &:hover {
        color: $textColor1;
        background: $colorHoverText;

        &~.textos_mdl2-1-1-5 #modal2-1-1-5_P0 {
            display: none;
        }

        &~.textos_mdl2-1-1-5 #modal2-1-1-5_P2 {
            display: table;
        }
    }
}

.textos_mdl2-1-1-5 {
    display: flex;
    position: absolute;
    width: 40vw;
    bottom: 2vh;
    left: 20vw;
    height: 19vh;
    align-items: center;
    text-align: center;
    padding: 1.5vw;
    font-size: 1vw; 

    & #modal2-1-1-5_P1,
    #modal2-1-1-5_P2 {
        display: none;
    }

    & strong {
        font-weight: 700;
    }
}

.modal2-1-1-6_P0 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 18.5vh;
    left: 17vw;
    width: 14.5vw;

    & img {
        max-width: 5.2vw;
    }

    & p {
        margin-left: 1vw;
        width: 8vw;
        font-weight: 700;
        font-size: 1.1vw;
        line-height: 1.2;
    }
}

.modal2-1-1-6_P1 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 29.5vh;
    left: 17vw;
    width: 14.5vw;

    & img {
        max-width: 5.2vw;
    }

    & p {
        margin-left: 1vw;
        width: 8vw;
        font-weight: 700;
        font-size: 1.1vw;
        line-height: 1.2;
    }
}

.modal2-1-1-6_P2 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 40.1vh;
    left: 17vw;
    width: 14.5vw;

    & img {
        max-width: 5.2vw;
    }

    & p {
        margin-left: 1vw;
        width: 8vw;
        font-weight: 700;
        font-size: 1.1vw;
        line-height: 1.2;
    }
}

.textos_mdl2-1-1-6 {
    display: flex;
    position: absolute;
    width: 30vw;
    top: 14vh;
    right: 2vw;
    height: 40vh;
    align-items: center;
    text-align: center;
    padding: 2vw;
    font-size: 1.2vw;

    & #modal2-1-1-6_P1,
    #modal2-1-1-6_P2 {
        display: none;
    }

    & strong {
        font-weight: 700;
    }
}

.img-modal2-2-1 {
    position: relative;
    width: 100%;
    top: 7vh;
    height: 33vh;

    img {
        width: auto;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

.btn-modal-2-2-1 {
    bottom: 1vh;
    right: 1vw;
    float: right;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.modal2-2-1Txt {
    position: relative;
    width: 100%;
    top: 7vh;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;

    p {
        width: 33%;
        height: 13vh;
        margin: 0;
        padding: 10px;
        font-size: 84%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .modal2-2-1P1 {
        background-color: #E62E6A;
    }

    .modal2-2-1P2 {
        background-color: #018ABE;
    }

    .modal2-2-1P3 {
        background-color: #0F5595;
    }
}

.txtModal-2-2-2 {
    position: relative;
    width: 73%;
    top: 6vh;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;

    p {
        width: 33%;
        height: 40vh;
        margin: 0;
        padding: 15px;
        font-size: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-size: 100% 100%;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url('../img/bck-modal2-2-2_P1.png');
        }

        &:nth-child(2) {
            background-image: url('../img/bck-modal2-2-2_P2.png');
        }

        &:nth-child(3) {
            background-image: url('../img/bck-modal2-2-2_P3.png');
        }

    }
}

.tip {
    position: relative;
    width: 73%;
    height: 11vh;
    top: 7vh;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../img/tip.png');

    p {
        width: 75%;
        margin-left: 15%;
    }
}

.btn-modal2-3 {
    position: absolute !important;
    width: 6.5vw;
    height: auto;

    &.btn1 {
        top: 8vh;
        left: 0vw;
    }

    &.btn2 {
        top: 10vh;
        left: 9vw;
    }

    &.btn3 {
        top: 20vh;
        left: 16vw;
    }

    &.btn4 {
        top: 36vh;
        left: 16vw;
    }

    &.btn5 {
        top: 46vh;
        left: 9vw;
    }

    &.btn6 {
        top: 47vh;
        left: 0vw;
    }
}

.textosModal2-3 {
    position: absolute;
    width: 26vw;
    height: 41vh;
    right: 13vw;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    color: $textColor2;

    .titles {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: 1vh;

        * {
            margin-bottom: 0;
        }

        h3{
            font-size: 2vw;
        }

        h6 {
            color: $textColor8;
            font-weight: 600;
            font-size: 1vw;
        }
    }

    p {
        font-size: 90%;
    }
}

.modal3-menu {
    position: absolute;
    right: 2vw;
    width: 35vw;
    height: 40vh;
    bottom: 3vh;
    font-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    font-family: $font2;

    div {
        &:nth-child(1) {
            .item {
                background-image: url("../img/btn1-modal3.png");
            }

            &:hover {

                &:before {
                    content: '';
                    position: absolute;
                    top: -1vh;
                    left: 1vw;
                    right: 0;
                    bottom: -1vh;
                    background: #fff;
                    z-index: -1;
                    width: 16vw;
                    border-radius: 15px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: -1vh;
                    left: 1vw;
                    right: 0;
                    bottom: -1vh;
                    background: #fff;
                    z-index: -1;
                    width: 16vw;
                    border-radius: 15px;
                    filter: blur(40px)
                }

                &:after,
                &:before {
                    background: linear-gradient(235deg, rgb(0, 81, 255), rgba(255, 255, 255, 0.644), rgb(0, 195, 255));
                }

            }
        }

        &:nth-child(2) {
            .item {
                background-image: url("../img/btn2-modal3.png");
            }

            &:hover {

                &:before {
                    content: '';
                    position: absolute;
                    top: -1vh;
                    left: 18.5vw;
                    right: 0;
                    bottom: -1vh;
                    background: #fff;
                    z-index: -1;
                    width: 16vw;
                    border-radius: 15px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: -1vh;
                    left: 18.5vw;
                    right: 0;
                    bottom: -1vh;
                    background: #fff;
                    z-index: -1;
                    width: 16vw;
                    border-radius: 15px;
                    filter: blur(40px)
                }

                &:after,
                &:before {
                    background: linear-gradient(235deg, rgb(0, 81, 255), rgba(255, 255, 255, 0.644), rgb(0, 195, 255));
                }

            }
        }

        .item {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-width: 15vw;
            max-width: 15vw;        
            height: 100%;
            padding: 15px 10px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            color: $textColor1;
            text-align: center;
            font-weight: 400;

            img {
                width: 3vw;
                height: auto;
                display: block;
                margin: 2vh auto;
            }

            span {
                display: block;
                margin: auto;
                font-size: 3vw;
                font-weight: 700;
                font-family: $font2;
            }

            &:focus{
                background-color: transparent;
            }
        }
    }
}

.div-img {
    position: relative;
    width: 100%;
    top: 75px;
    height: 230px;

    img {
        width: 100%;
        height: auto;
    }
}

.btn-tooltip {
    width: 70px;
    height: 70px;
    position: absolute !important;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 500;
    font-family: $font2;
    color: $textColor1;
    text-decoration: none;
    z-index: 2;
}

.btn-fin {
    position: relative;
    bottom: 7rem;
    right: 3.5rem;
    padding: 5px 30px !important;
    border-radius: 10px !important;
}

.slider {
    margin-top: 40px;

    .slides {
        background: transparent !important;

        li {
            img {
                width: 80% !important;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .indicators {
        bottom: 25px !important;
        z-index: 2;

        .indicator-item {
            background-color: $textColor1 !important;

            &.active {
                background-color: $textColor2 !important;
            }
        }
    }
}

#slides-modal3-1 {
    width: 70%;
    float: right;
    right: 2vw;
    margin-top: 10vh;
    height: 48vh !important;

    .slides {
        height: 48vh !important;

        li {
            display: flex !important;
            justify-content: space-around;

            div {
                background-image: url("../img/slider1-modal3.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                padding: 3vh 3vw 3vh 2vw;
                max-width: 22vw;
                min-width: 21vw;

                img {
                    width: 2vw !important;
                    height: auto;
                    margin: 1vh auto;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                p {
                    font-size: 88%;
                    font-weight: 600;
                    background-color: #fff;
                }

            }

            .slide3-1-3 {
                p {
                    background-color: #fff;
                    border-radius: 15px;
                }
            }

            .slide3-1-9 {
                background-image: url("../img/slider1-2-modal3.png");
            }

        }
    }

    .indicators {
        bottom: 10px !important;
    }
}

.modal3-1-next {
    position: absolute;
    right: -40px;
    height: 50px;
    top: calc(50% - 25px);
    cursor: pointer;
    z-index: 2;
}

.modal3-1-prev {
    position: absolute;
    left: -40px;
    height: 50px;
    top: calc(50% - 25px);
    cursor: pointer;
    z-index: 3;
}

.menuTabs2 {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 10vh;
    right: 2vw;

    .tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;

        .tab {
            max-width: 24.5%;
            min-width: 24.5%;
            height: 100%;

            a {
                padding: 0;
                display: flex;
                justify-content: flex-start;
                align-content: center;
                background-color: $colorTab;
                color: #6878AD;
                font-size: 1vw;

                &:hover,
                &:focus,
                &.active {
                    background-color: $textColor4 !important;
                    color: $textColor1;
                }

                img {
                    height: 100%;
                    width: auto;
                }

                p {
                    font-size: 70%;
                    line-height: 1.3;
                    margin: auto;
                }

            }
        }

        .indicator {
            background-color: $textColor1 !important;
        }
    }

    .tab-content {
        height: 230px;
    }
}

.slider2 {
    margin-top: 0;
    height: 35vh !important;

    .slides {
        background-image: url("../img/slider1-modal3-2.png") !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        width: 90%;
        height: 35vh !important;
        margin: 0 auto !important;

        li {
            display: flex;
            align-items: center;            
            top: 1vh!important;
            left: 4vw!important;
            width: 80%!important;
            height: 30vh!important;
            padding: 10px;
        }
    }
}

.frase {
    display: flex;
    align-items: center;
    font-size: 100%;
    margin: 10px 0 0 0;
    color: $textColor7;

    img {
        width: 35px;
        height: 35px;
    }
}

.modal3-2-next {
    position: absolute;
    right: 0px;
    height: 50px;
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 2;
}

.modal3-2-prev {
    position: absolute;
    left: 0px;
    height: 50px;
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 3;
}